[submodule "safeNFT/lib/forge-std"]
	path = safeNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "safeNFT/lib/openzeppelin-contracts"]
	path = safeNFT/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "TrueXOR/lib/forge-std"]
	path = TrueXOR/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Pelusa/lib/forge-std"]
	path = Pelusa/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "WETH10/lib/forge-std"]
	path = WETH10/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "WETH10/lib/openzeppelin-contracts"]
	path = WETH10/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "MetaToken/lib/forge-std"]
	path = MetaToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MetaToken/lib/openzeppelin-contracts"]
	path = MetaToken/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "VotingMachine/lib/forge-std"]
	path = VotingMachine/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "InvestPool/lib/forge-std"]
	path = InvestPool/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "InvestPool/lib/openzeppelin-contracts"]
	path = InvestPool/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "GoldNFT/lib/forge-std"]
	path = GoldNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "GoldNFT/lib/openzeppelin-contracts"]
	path = GoldNFT/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
